$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$width: 320px;
$height: 568px;
$dimen: 200px;

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?odx8n');
    src:url('../fonts/icomoon.eot?#iefixodx8n') format('embedded-opentype'),
    url('../fonts/icomoon.woff?odx8n') format('woff'),
    url('../fonts/icomoon.ttf?odx8n') format('truetype'),
    url('../fonts/icomoon.svg?odx8n#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-group:before {
    content: "\e600";
}
.icon-ok:before {
    content: "\e601";
}
.icon-close:before {
    content: "\e602";
}
.icon-facebook:before {
    content: "\e603";
}
.icon-googleplus:before {
    content: "\e604";
}
.icon-search:before {
    content: "\e605";
}
.icon-menu:before {
    content: "\e609";
}
.icon-plus:before {
    content: "\e606";
}


/* Space out content a bit */
body {
    background-color: #eee;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0;

    .header {
        position: fixed;
        width: 100%;
        height: 38px;
        z-index: 10;
    }

    .dimension {
        position: relative;
        width: $width;
        height: $height;
        overflow: hidden;
        margin: auto;

        .background {
            position: absolute;
            width: 100%;
            height: 100%;
            background: url(../images/bg.jpg) no-repeat fixed center center;
            background-clip: padding-box;
            background-size: 100% 100%;
            -webkit-filter: blur(4px);
        }
        .viewpoint {
            position: absolute;
            width: 100%;
            height: 100%;

            .page {
                border: 1px solid red;

                .actionsWrap {
                    position: absolute;
                    width: 100%;
                    bottom: 110px;

                    .actions {
                        width: 230px;
                        margin: auto;
                        color: #5E5E5E;
                        line-height: 33px;

                        div {
                            float: left;
                        }
                        .fbLikes {
                            width: 48%;
                            background-color: rgba(255,255,255,.5);
                            border-radius: 20px;
                        }
                        .space {
                            width: 4%;
                        }
                        .details {
                            width: 48%;
                            background-color: rgba(255,255,255,.5);
                            border-radius: 20px;
                        }
                    }
                }
                .decisionsWrap {
                    position: absolute;
                    width: 100%;
                    bottom: 28px;

                    .decisions {
                        width: 200px;
                        margin: auto;
                        line-height: 50px;
                        font-size: 20px;

                        div.text-center {
                            float: left;
                            color: #fff;
                            text-align: center;
                        }
                        span {
                            font-size: 44px;
                        }
                        .like, .dislike {
                            margin-top: 6px;
                        }
                        .like span {
                            color: #99A978;
                        }
                        .eat div {
                            width: 60px;
                            height: 60px;
                            margin: auto 22px;
                            border: 3px solid #F1AE25;
                            font-size: 15px;
                            padding-top: 11px;
                            line-height: 17px;
                            border-radius: 30px;
                        }
                        .dislike span {
                            color: #E06A22;
                        }
                    }
                }
            }
        }
    }

    .pageHeader {
        background-color: rgba(216, 212, 212, 0.5);
        line-height: 39px;

        .left, .right {
            font-size: 30px;
            line-height: 30px;
        }
        .left {
            padding-left: 10px;
            margin-top: 4px;
        }
        .title {
            font-size: 20px;
        }
        .right {
            padding-right: 10px;
            margin-top: 3px;
        }
    }
}
.container-narrow > hr {
    margin: 30px 0;
}


.page {
    position: relative;
    width: 100%;
    height: 100%;

    $border: 3px;
    $marginT: ($height - $dimen) / 2;
    $marginL: ($width - $dimen) / 2;
    $actFont: 28px;

    .circleControl {
        width: $dimen;
        height: $dimen;
        overflow: hidden;
        top: $marginT;
        left: $marginL;
        position: absolute;
        border: $border solid #BAD8C4;
        border-radius: $dimen / 2;
        background-color: #f4f4c5;

        .sliderWrap {
            position: relative;
            width: 100%;
            height: 100%;

            .sliderUp {
                position: absolute;
                width: 100%;
                height: 100%;
                top: $dimen - $border;
                left: 0;
                background-color: rgba(189, 241, 183, 0.50);
                //-webkit-transition: top 1s;
            }
            .sliderDown {
                @extend .sliderUp;
                top: $border - $dimen;
                background-color: rgba(211, 96, 115, 0.50);
            }
            .actionName {
                position: absolute;
                width: 100%;
                top: ($dimen / 2) - $actFont;
                font-size: $actFont;
                text-align: center;
                color: rgba(0, 0, 0, 0);
            }
            .undo {
                width: 100%;
                top: ($dimen / 2) + $actFont;
                font-size: 22px;
                font-weight: 100;
                position: absolute;
                text-align: center;
                text-decoration: underline;
                -webkit-transition: display 200ms;
            }
        }
    }
    .dragging {
        border: 2px dashed #65a4ff;
    }
    .animateTop {
        -webkit-transition: top 200ms;

        .actionName {
            -webkit-transition: color 200ms;
        }
    }
    .animateLeft {
        -webkit-transition: left 100ms;
    }
    .chosen {
        background-color: #BDF1B7;
    }
    .getDown {
        background-color: #D36073;
    }

    .previousCircle {
        @extend .circleControl;
        left: -250px;
        background-color: #ccc;
    }
    .nextCircle {
        @extend .circleControl;
        left: 360px;
        background-color: #cca1bc;
    }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}